header{
  background-color: black;
  margin-left: -10px;
  background: black;
  width: 98.9vw;
  margin-top: -40px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0px;
}
img{
  width: 80%;
}
h2{
  margin-top: -10px ;
}
p{
  font-size:13px;
  margin-top: -5px;
}
.shadow{
  width: 79%;
  margin-left: 20px;
 height: 220px;
}
.grid25{
  display: grid;
  grid-template-columns: 1fr 1fr ;
}
.margin{

  margin-bottom: 20px;
}

a:hover{
  background: none;
  text-decoration: none;
  color: white;
}
.shadow:hover{
  background-color: blue;
  color: white;
  background-attachment: none;
height: none;
background-repeat: no-repeat;
transition: none;
}
p{
  font-size: 0.2em;
  margin-top: -20px;
}
.grid4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: -20px;
  width: 99.7vw;
margin-bottom: -20px;
 
}
.h{
  margin-top: 10px;
}