*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.heade ul {
  display: flex;
 
  gap: 20px;
  padding-left: 820px;
  list-style: none;
  list-style-type: none;
  text-align: end;
  font-size: 30px;
  color: white;
}
.header-bg{
  background-color: black;
  height: 50px;
}
.a{
   color: white;
   text-decoration: none;
}
.img1{
  width: 98vw;
  height: 350px;
}
#p{
  padding-left: 50px;
  padding-right: 50px;
  font-size: 30px;
}
.fd{
  padding-left: 150px;
  padding-top: 50px;
}
span{
  font-weight: bold;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}
.logo1{
  width: 50%;
}
.logo12{
  width: 20%;
  display: grid;
 
}
footer{
  background-color: black;
  color: white;
}

@media( min-width:300px) and (max-width:640px){
  *{
    margin: 0px;
    padding: 0px;
  }
  .heade ul{
    padding-left: 0px;
    font-size: 15px;
  }
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 10px;
  }
  footer{
    font-size: 10px;
  }
  .fd{
    padding-left: 50px;
  }
}