ul{
  margin-left: -220px;
list-style: none;
}
li{
margin-left: 30px;
}
.fonte{
  font-weight: bolder;
  font-size: 40px;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ebook{
  width: 40%;
  border-radius: 30px;
  height: 150px;
  margin-left: 250px;
}
.hj{
  display: flex;
  text-align: end;
  padding-left: 1090px;
  color: white;
  padding-top: 10px;
}
.hj a{
  color: white;

}
.video{

  height: 320px;
 margin-left: 350px;
}
@media(min-width:300px) and (max-width:500px){
  ul,li{
    margin: 0px;
  }
}
