p{
  color: black;
}
.sobre{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10PX;
}
h1{
  color: black;
}
.paragrafo{
  font-size: 1.5rem;
  margin-left: -20PX;
}
.fonte3{
  color: white;
}
.gray{
  background-color: rgba(128, 128, 128, 0.27);
  width: 101.2%;
  margin-left: -10px;
  padding-top: 20px;
}
.calendar{
  width: 50%;
}

@media (min-width:300px) and (max-width:500px){
  *{
    margin-left: 0px;
  }
  
  .sobre{
    display: flex;
   flex-direction: column;
  }
  li{
    font-size: 13px;
  }
  .gray{
    
  }
  .img1{
    width: 93vw;
  }
  header{
    width: 99vw;
  }
  .paragrafo{
    margin-left: -120px;
  

  }
.imga1{
  height: 290px;
  width: 99vw;
}
}