.header-bg {
margin-bottom: -100px;
width: 101.2%;
margin-left: -8px;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
 margin-top: -10px;

 
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-right: 20px;
  
 
}
a{
text-decoration: none;
color:#ffffff;

}
.imga{
  background: url(imgs/diversão.png ); background-size: cover; 
  background-repeat: no-repeat; height: 00px;background-position:  center ;
width: 100.2%;
margin-left: -8px;
margin-top: -10px;

}
.fonte{
  color: white;
  padding-top: 150px;
  font-size: 30px; padding-left: 20px;
}
li{
  font-weight: 600;
  font-size: 30px;
  
}
.li{
  color: black;
  font-size: 20px;
  font-weight: 400;
  list-style: normal;
  font-family: inherit;
}
.colorto{
  background-color: #F1F1F1;
}
.div{
  width: 290px;
  border-top-left-radius: 220px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  
  padding-top: 20px;
  padding-left: 25px;
  display: flex;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
 
}
.header-bg {
  margin-bottom: -100px;
  width: 101.2%;
  margin-left: -8px;
  }
  .h-100{
    height: 100vh;
  }
  body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
   margin-top: -10px;
  
   
  }
  .pi{
    font-size: 15px;
padding-left: 20px;
  }
  
  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding-right: 20px;
    
   
  }
  a{
  text-decoration: none;
  color:#ffffff;

  
  }
  .imga{
    background: url(imgs/diversão.png); background-size: cover; 
    background-repeat: no-repeat; height: 700px;background-position:  center center ;
 
  
  background-size: cover;
  
  
  }
  .fonte{
    color: white;
    padding-top: 490px;
    font-size: 30px; padding-left: 220px;
  }
  li{
    font-weight: 600;
    font-size: 30px;
    
  }
  .div{
    width: 290px;
    border-top-left-radius: 220px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;
    
    padding-top: 20px;
    padding-left: 25px;
    display: flex;
  }
  .happy{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }
  p{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
  }
  .pad{
    padding-left: 20px;
  }
  
  .div1{
    width: 220px;
  border-top-left-radius: 220px;
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  border-bottom-right-radius: 90px;
  }
  .color{
    background-color: rgb(0, 0, 0);
  width: auto;
  margin-left: -10px;
  
  }
  .color1{
    background:  linear-gradient(to right, yellow, rgb(0, 0, 235));
   width: 100.5%;
   margin-left: -10PX;
   padding-left: 10px;
   height: 100px;
  
  }
  .van{margin-left: 150px;
    margin-top: -100px;
  
  }
  
  .h2{
    color: white;
    font-size: 30px;
    padding-left: 50px;
  }
  .grid1{
    display: grid;
    grid-template-columns: 300px 200px;
  }
  ul{
    list-style: none;
    color: white;
  
  }
  .kl> li+ li{
    padding: 10px;
  }
  .button{
    border-radius: 40px;
    font-size: 35px;margin-left: 40px;
  margin-bottom: 12px;
  }
  .button:hover{
    background-color: rgba(255, 0, 0, 0.279);
    color: white;
  }
  .happy1{
    display: flex;
    gap: 20px;
  }
  .fazemos{
    font-size: 70px;
    justify-content: center;
    text-align: center;
  }
  .bg{
    background-color: #2600ff;
    margin-left: -10px;
    width: 101.3%;
  }
  .sobre{
    color: yellow;
  padding-top: 20px;
    padding-left: 90px;
  }
  
  .font{
    font-size: 40px;
   margin-top: -20px;padding-left: 100px;
   color: aliceblue;
   font-weight: 800;
  }
  span{
    color: rgb(0, 0, 0);
  }
  .font1{
    font-weight: 800;
    color: aliceblue;
    font-size: 40px;
  }
  .pi{
    
   margin-left: -30px;
   padding-right: 90px;
  }
  span:hover{
    color: #ff0000;
  }
  a:hover{
  color: rgb(255, 196, 0);
  }
  .gf{
  margin-top: 50px;
  padding-left: 40px;
  }
  .gf1{
    width: 69%;
    padding-top: 40px;
    
  }

  .logo{
    height: 100px;
    opacity: 0.5;
  }
  .p{
    color: black;
    border: 1px solid #ff000073;
    border-radius: 50px;
  margin-right: 60px;
  box-shadow:2px 2px 2px 2px;
  padding: 30px;
  border-color: #ff000073;
  margin-left: 100px;
  background-color: #ff000073;
  }
  footer{
    background-color: black;
    width: 100.8%;
    margin-left: -10px;
    margin-top: 10px;
  }
  .btn2{
    background-color: yellow;
    border-color: yellow;
   
  }
  .logo1{
    width: 30%;
  }
  .font2{
    color: aliceblue;
  }
  .pg{
    font-size: 15px;
    margin-left: -20px;
  }
  .grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .logo12{
    width: 14%;
  padding-left:20px ;
  }
  .pg{
    color: white;
  }
  .bg1{
    background-color: #2600ff;
  }
  .fonte3{
 
    color: white;
    padding-top: 20px;
    font-size: 50px; padding-left: 10px;
    text-align: center;
  }
  .bution{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: yellow;
    border-color: yellow;
 margin-left: 250px;
  }
  .bution:hover{
    background-color: blue;
    border-color: blue;
    color: white;
    font-size: 20px;
    transition: 1.4s;
    transition-duration: 12;
  }
  .flex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid white;
    width: 97%;
    height: 36%;
    margin-top: 10px;padding: 2px;
    border-radius: 30px;
  }
  .butio{
    margin-top:50px;
    margin-top: 9px;
    margin-bottom: 120px;
    background-color: yellow;
    border-color: yellow;
    margin-left: 50px;
    margin-right: 20px;
    padding: 14px;
    border-radius: 20px;
  }
  .op{
    font-size: 15px;padding-top: 10px;
    padding-left: 20px;
    color: white;
  }
  .butio:hover{
    background-color: #2600ff;
    border-color: #2600ff;
    color: white;
  }
  .colori{
    background-color: blue;
    margin-top: 10px;
    text-align: center;
    color: white;
  }
  @media(min-width:300px) and ( max-width:500px){
   
    .va{
  display: none;
    }
    body{
      width: 99%;
    }
    .bution{
      margin-left: 0px;
      margin-top: -420px;
    }
    .onde{
      margin-left: -200px;
      padding-left: 0px;
      font-size: 12px;
    }
    .li,ul{
      display: flex;
   flex-direction: column-reverse;
    }
    
   .happy1{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
   }
   .imga{
    height: 590px;
    
   }
 
   .logo{
   display: none;
   
   }
   .header-menu{
    font-size: 20px;
    margin-top: 15px;
    padding-top: 10px;
   }
   li{
    font-size: 20px;
    display: flex;
    flex-direction: row;
   }
   ul{
    display: flex;
    flex-direction: row;
    font-size: 30px;
   }
   .grid1{
    display: grid;
    grid-template-columns: 1fr;
   }
   .grid2{
    display: grid;
    grid-template-columns: 1fr;
    height: 790px;
   }
   .grid{
    display: grid;
    grid-template-columns: 1fr;
   
   }
   .bg{
    display: grid;
    grid-template-columns: 1fr;
   }
   .happy{
    display: grid;
    grid-template-columns: 1fr;
   }
   .gf{
    width: 300px;
    padding-left: 30px;
   }
   .gf1{
    padding-left: 50px;
   }
  p{
    padding-left: 50px;
  }
  
  }
 
 
  .imga1{
    background: url(imgs/decorated-banquet-hall-with-flowers.png); background-size: cover; 
    background-repeat: no-repeat; height: 300px;background-position:  center ;
  width: 101.2%;
  margin-left: -8px;
  margin-top: -10px;

  }

  #fon ,p  h2{
    text-align: center;
    color: black;
  }
@media (min-width:1400px) {
  
 footer{
  width: 99vw;
 }
 .header{
  width: 96vw;
 }
 .bg{
  width: 96vw;
 }
 .imga{
  width: 99.1vw;
 } .imga1{
  width: 99.1vw;
 }
 .happy{
 width: 98vw;
 
 }
 .bg{
  width: 99vw;
 }
 .color1{
  width: 99.1vw;
 }
 main{
  width: 97.9vw;
 }

}